---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import Catalog from '../components/Catalog.astro';
import Collapse from '../components/Collapse.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Credit from '../components/Credit.astro';
import Socialicon from '../components/Socialicon.astro';
import Qna from '../components/Qna.astro';
import VidCat from '../components/VidCat.astro';
import Map from '../components/Map.astro';
import AlhassanCard from '../components/AlhassanCard.astro';

import { Icon } from 'astro-icon'


const linkClient = [
    {
        nama: 'Website',
        link: 'psb.alhassan.sch.id/'
    },{
        nama: 'pertanyaan Seputar Pendaftaran',
        link: 'alhassan.sch.id/posts/FnWJbthwc3t7a5rCFQCC'
    },{
		nama: "Profil Pondok Pesantren Modern Al-Hassan",
		link: "youtube.com/watch?v=bxzWI4MN01U"
	},{
		nama: "Daftar Online (Santri Putra)",
		link: "api.whatsapp.com/send/?phone=6281383382399&text=Assalamualaikum+Warahmatullahi+Wabarakatuh%2C+Dengan+hormat%2C+kami+ingin+mendaftarkan+putra+kami+di+pondok+pesantren+yang+Bapak%2FIbu+kelola.+Mohon+petunjuknya.+Terima+kasih."
	},{
		nama: "Daftar Online (Santri Putri)",
		link: "api.whatsapp.com/send/?phone=6285693513500&text=Assalamualaikum+Warahmatullahi+Wabarakatuh%2C+Dengan+hormat%2C+kami+ingin+mendaftarkan+putri+kami+di+pondok+pesantren+yang+Bapak%2FIbu+kelola.+Mohon+petunjuknya.+Terima+kasih."
	}
    
]

const dataClient = [
    {
       images : "/ltq al-hassan.webp",
       alt : "contoh",
       title: "LTQ PPM Al-Hassan",
       desc : "ini deskripsi",
       CTA : "Baca",
	   link: "https://www.instagram.com/p/CoXyh_7yCKo/?igshid=ODM2MWFjZDg"
    },
    {
       images : "/pesan.webp",
       alt : "contoh",
       title: "Pesan Kiyai",
       desc : "ini deskripsi",
       CTA : "Baca",
	   link: "https://www.instagram.com/p/CVHvYo5vDOR/?igshid=ODM2MWFjZDg"
    },
    {
       images : "/kesan.webp",
       alt : "kesan dan pesan Alumni",
       title: "kesan dan pesan Alumni",
       desc : "ini deskripsi",
       CTA : "Baca",
	   link: "https://www.instagram.com/p/CnzVuteSAWz/"
    }, {
       images : "/dokumentas.webp",
       alt : "Potret Dokumentasi 2023",
       title: "Potret Dokumentasi 2023",
       desc : "ini deskripsi",
       CTA : "Baca",
	   link: "https://www.instagram.com/p/CoJ78MDSZQ7/?igshid=YmMyMTA2M2Y"
    },
]
const ytClient = [
	{judul: "Khotmul Quran 7 - Penutupan",
        id: "rxGuNsI4fYk"
    },
    {judul: "QnA Santri Kelas 1 PPM Al Hassan",
        id :"5gL44s4Nujk"
    },{judul: "Wisuda santri Akhir ppm alhassan angkatn 10 putra dan angkatn 2 putri",
		id: "ufqj_Svdx1U"
	},
    
]

const Medsos = [
    {
        id :"mdi:youtube",
		url:"https://www.youtube.com/@al-hassantv5276"
    },
    {
        id: "mdi:instagram",
		url:"https://www.instagram.com/ppm_alhassan"

    },{
        id: "ic:outline-facebook",
		url:"https://www.facebook.com/ppmalhassanbekasi"

    },
]
---

<Layout title="Al-Hassan"  theme="emerald" favicon="./alhassan.webp" 
analitis='{"token": "5503670bb70548b8894a6093ae2ab107"}' size="cover" background="url('/asa.png') fixed">
	<main>
		<Nav 
		src="./alhassan.webp"
		title= 'PPM Al-Hassan | معهد الحسان للتربية الإسلامية الحديثة'		
        text= 'Pondok Pesantren Modern Al-Hassan Bekasi'
        url= 'https://qlm.one/alhassan'
		/>
		<Hero
		name= "PPM Al-Hassan" 
		src = "./alhassan.webp"
		tagline= "معهد الحسان للتربية الإسلامية الحديثة"
		tagline2="Pondok Pesantren Modern Al-Hassan Bekasi"
		/>
		<Socialicon Medsos={Medsos} />
		<AlhassanCard />
		<Button linkClient={linkClient}/>
			<Map 
			map="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.877784066228!2d106.93353301083769!3d-6.2797941614450155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698d6a04840479%3A0x31b0cd87dd0dc133!2sPondok%20Pesantren%20Modern%20Al-Hassan!5e0!3m2!1sen!2sid!4v1681663628647!5m2!1sen!2sid"
			title="PPM Al-Hassan"
			/>
			<Catalog Judul="Al-Hassan Post"  dataClient={dataClient}/>
			<VidCat dataClient={ytClient} title="Al-Hassan TV"/>

			<Qna />
			<div class="mx-auto w-fit mt-5">
				<a href="https://www.instagram.com/p/CdH0bcgvmnh/" class=" btn glass bg-black gap-2 hover:text-black">
					<Icon name="mdi:instagram" class="h-6 w-6" />
					Fitri Hafizh Arrizky
					
				  </a>
			</div>
			
			  			<Credit />
	</main>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&display=swap');	main {
		text-align: left;
		margin: auto;
		padding: 1.5rem;
		padding-bottom: 0;
		max-width: 90ch;	font-family: 'Montserrat', sans-serif;

	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
