---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Credit from "../components/Credit.astro";
import Socialicon from "../components/Socialicon.astro";

import { Icon } from "astro-icon";

const Medsos = [
    {
        id: "ic:baseline-telegram",
        url: "https://t.me/fayyadhul_Fawaed",
    },
    {
        id: "mdi:instagram",
        url: "https://www.instagram.com/fayyadhul_fawaed?igshid=OGQ5ZDc2ODk2ZA%3D%3D",
    },
    {
        id: "mdi:youtube",
        url: "https://www.youtube.com/@fayyadhul_fawaed4687",
    },
];
---

<Layout
    title="Fayyadhul_Fawaed"
    theme="forest"
    favicon="https://cdn-sdotid.adg.id/images/97fb6542-be56-474d-95e5-31894f8ff746_716x716.png"
    analitis='{"token": "5503670bb70548b8894a6093ae2ab107"}'
    size="400% 400%"
    background="linear-gradient(45deg, #b3d9ff 20%, #80bfff 50%, #4da6ff 72%)"
>
    <main>
        <Nav
            src="https://cdn-sdotid.adg.id/images/97fb6542-be56-474d-95e5-31894f8ff746_716x716.png"
            title="Fayyadhul_Fawaed"
            text="Kumpulan link Bermanfaat Fayyadhul_Fawaed"
            url="https://www.qlm.one/Fayyadhul_Fawaed"
        />

        <div class="mx-auto w-fit text-center mt-12">
            <div class="avatar">
                <div
                    class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
                >
                    <img
                        src="https://cdn-sdotid.adg.id/images/97fb6542-be56-474d-95e5-31894f8ff746_716x716.png"
                        alt="@Fayyadhul_Fawaed/"
                    />
                </div>
            </div>
            <h1 class="text-4xl text-black font-bold">@Fayyadhul_Fawaed</h1>
            <h2 class="text-2xl text-black mt-5 font-bold">
                Menjembatani Generasi, Menyinari Hati – Eksplorasi Ilmu Islam untuk Kehidupan yang Lebih Bermakna
            </h2>
        </div>
        <div class="flex gap-2 mx-auto w-fit my-5">
            {
                Medsos.map(({ id, url }) => (
                    <a
                        rel="dns-prefetch"
                        aria-label={id}
                        class="btn btn-circle bg-white"
                        href={url}
                        target="_blank"
                        rel="noopener"
                    >
                        <Icon name={id} class="w-8 text-black" />
                    </a>
                ))
            }
        </div>
        <figure>
            <div
                class="carousel carousel-center max-w-md p-4 space-x-4 bg-neutral rounded-box"
            >
                <div
                    id="slide1"
                    class="carousel-item relative w-full aspect-square"
                >
                    <img
                        src="https://cdn-sdotid.adg.id/images/cba6f52c-d9c2-4294-b850-762c1a6c36a9_1080x1080.webp.jpeg"
                        class="w-full aspect-square"
                    />
                </div>
                <div
                    id="slide2"
                    class="carousel-item relative w-full aspect-square"
                >
                    <img
                        src="https://cdn-sdotid.adg.id/images/4015d9cb-fb01-4850-9044-d14589d43985_1080x1080.webp.jpeg"
                        class="w-full aspect-square"
                    />
                </div>
                <div
                    id="slide3"
                    class="carousel-item relative w-full aspect-square"
                >
                    <img
                        src="https://cdn-sdotid.adg.id/images/9d2ec6d1-db21-4630-9971-1b63a38019dc_1080x1080.webp.jpeg"
                        class="w-full aspect-square"
                    />
                </div>
                <div
                    id="slide4"
                    class="carousel-item relative w-full aspect-square"
                >
                    <img
                        src="https://cdn-sdotid.adg.id/images/122b6cbc-4649-4adb-9328-82fa6d7910e5_1080x1080.webp.jpeg"
                        class="w-full aspect-square"
                    />
                </div>
                <div
                    id="slide5"
                    class="carousel-item relative w-full aspect-square"
                >
                    <img
                        src="https://cdn-sdotid.adg.id/images/f91460ee-1936-409a-934c-e92b27120871_1080x1080.webp.jpeg"
                        class="w-full aspect-square"
                    />
                </div>
            </div>
        </figure>

        <div class="flex justify-center w-full py-2 gap-2">
            <a href="#slide1" class="btn btn-xs">1</a>
            <a href="#slide2" class="btn btn-xs">2</a>
            <a href="#slide3" class="btn btn-xs">3</a>
            <a href="#slide4" class="btn btn-xs">4</a>
            <a href="#slide5" class="btn btn-xs">5</a>
        </div>
        <div class="card   text-gray-800 glass shadow-xl">
            <div class="card-body">
             
                   
                        <h2 class="text-2xl font-bold text-center">Fayyadhul Fawaed</h2>
                        <p>
                            Channel "Fayyadhul Fawaed" adalah platform berbagi
                            keilmuan Islam yang inspiratif. Kami berkomitmen
                            menjadi jembatan pengetahuan bagi generasi muda dan
                            masyarakat luas untuk mengeksplorasi kekayaan ilmu
                            Islam secara mendalam dan autentik. Dengan akses
                            mudah dan konten yang tercurah, kami mengajak Anda
                            untuk bersama-sama memperkaya wawasan dan memahami
                            keagungan Islam dalam kehidupan sehari-hari.
                        </p>
               
            </div>
        </div>

        <div
            class="grid mx-auto w-fit grid-cols-1 lg:grid-cols-6 lg:px-12 gap-4 py-12"
        >
            <div class="stack lg:col-span-3">
                <div class="card w-45 lg: w-45 lg:w-96 shadow-xl image-full">
                    <figure>
                        <img src="./image-sarbeh.webp" alt="Shoes" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title font-bold text-2xl">
                            Ikuti Instagram Kami
                        </h2>
                        <p class="font-bold text-lg">
                            Teruslah menebar kebaikan meski sedikit, sebab apa
                            yang dilakukan karena Allah ﷻ akan kekal.
                        </p>
                        <div class="card-actions  justify-end">
                            <a src="https://www.instagram.com/fayyadhul_fawaed?igshid=OGQ5ZDc2ODk2ZA%3D%3D"   class="btn  text-black font-bold bg-yellow-300"
                            ><Icon
                            name="mdi:instagram"
                            class="w-5 "
                        />
                         Follow</a
                    >
                        </div>
                    </div>
                </div>
                <div class="card w-45 lg:w-96 shadow-xl rounded-md">
                    <figure>
                        <img src="./image-sarbeh.webp" alt="Shoes" />
                    </figure>
                </div>
                <div class="card w-45 lg:w-96 shadow-xl">
                    <figure>
                        <img src="./image-sarbeh.webp" alt="Shoes" />
                    </figure>
                </div>
            </div>
            <div class="stack lg:col-span-3">
                <div class="card w-45 lg:w-96 shadow-xl image-full">
                    <figure>
                        <img src="./image-sarbeh-1.webp" alt="Shoes" />
                    </figure>
                    <div class="card-body text-white">
                        <h2 class="card-title font-bold text-2xl">
                            Langganan Telegram Kami
                        </h2>
                        <p class="font-bold text-lg">
                            Menjembatani Generasi, Menyinari Hati – Eksplorasi
                            Ilmu Islam untuk Kehidupan yang Lebih Bermakna
                        </p>
                        <div class="card-actions  justify-end">
                            <a
                                href="https://t.me/fayyadhul_Fawaed"
                                class="btn bg-blue-600 font-bold"
                                ><Icon
                                name="mdi:telegram"
                                class="w-5 text-white"
                            />
                             Subscribe</a
                        >
                        </div>
                    </div>
                </div>
                <div class="card w-45 lg:w-96 shadow-xl">
                    <figure>
                        <img src="./image-sarbeh-1.webp" alt="Shoes" />
                    </figure>
                </div>
                <div class="card w-45 lg:w-96 shadow-xl">
                    <figure>
                        <img src="./image-sarbeh-1.webp" alt="Shoes" />
                    </figure>
                </div>
            </div>

            <div class="stack lg:col-span-6">
                <div class="card w-45 lg:w-96 shadow-xl image-full">
                    <figure>
                        <img src="./image-sarbeh-2.webp" alt="Shoes" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title font-bold text-2xl">
                            Subscribe Youtube Kami
                        </h2>
                        <p class="font-bold text-lg">
                            Meraih Cahaya Ilmu – Bersama Fayyadhul Fawaed, Mari
                            Kita Eksplorasi Keindahan dan Kedalaman Islam untuk
                            Generasi Muda yang Penuh Semangat dan Wawasan!
                        </p>
                        <div class="card-actions  justify-end">
                            <a
                                href="https://www.youtube.com/@fayyadhul_fawaed4687/featured"
                                class="btn bg-red-600 font-bold"
                            >
                                <Icon
                                    name="mdi:youtube"
                                    class="w-5 text-white"
                                />
                                 Subscribe</a
                            >
                        </div>
                    </div>
                </div>
                <div class="card w-45 lg:w-96 shadow-xl">
                    <figure>
                        <img src="./image-sarbeh-2.webp" alt="Shoes" />
                    </figure>
                </div>
                <div class="card w-45 lg:w-96 shadow-xl">
                    <figure>
                        <img src="./image-sarbeh-2.webp" alt="Shoes" />
                    </figure>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        text-align: left;
        margin: auto;
        padding: 1.5rem;
        padding-bottom: 0;
        max-width: 110ch;
    }
</style>
