---
import Layout from '../layouts/Layout.astro';
import Podcs from '../components/Spoti.astro';
import Button from '../components/Button.astro';
import Collapse from '../components/Collapse.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Credit from '../components/Credit.astro';
import Socialicon from '../components/Socialicon.astro';



const linkClient = [
    {
        nama: 'Website',
        link: 'qlm.one/'
    },{
        nama: 'Join Grup WA Ikhwan (Laki-laki)',
        link: 'chat.whatsapp.com/C0bhUXYKWWi3qsndn3wTqE'
    },{
        nama: 'Join Grup WA Akhwat (Perempuan)',
        link: 'chat.whatsapp.com/Fn5VenOYySWJq7yDnzTQry'
    },,{
        nama: 'Channel Telegram',
        link: 't.me/alqolam_web'
    },,{
        nama: 'Wallpaper Nasihat',
        link: 'drive.google.com/drive/folders/1GIahVK_0HOOT3438iK01c35-EjXD9Dyp'
    },
    {
        nama: 'Free Sticker',
        link: 'sticker.ly/user/alqolam.web'
    },
    
]

const dataClient = [
    {
       images : "/stock-1.webp",
       alt : "contoh",
       title: "Ini Gambar",
       desc : "ini deskripsi",
       CTA : "Tombol CTA"
    },
    {
       images : "/stock-2.webp",
       alt : "contoh",
       title: "Ini Gambar",
       desc : "ini deskripsi",
       CTA : "Tombol CTA"
    },
    {
       images : "/stock-3.webp",
       alt : "contoh",
       title: "Ini Gambar",
       desc : "ini deskripsi",
       CTA : "Tombol CTA"
    },
    {
       images : "/stock-4.webp",
       alt : "contoh",
       title: "Ini Gambar",
       desc : "ini deskripsi",
       CTA : "Tombol CTA"
    },
]
const ytClient = [
    {
        id :"kq5dIytVs6c"
    },
    {
        id: "yDgM10mG-2k"
    }
]

const Medsos = [
    {
        id :"ic:baseline-telegram",
		url:"https://t.me/alqolam_web"
    },
    {
        id: "mdi:instagram",
		url:"https://www.instagram.com/alqolam.web/"

    },
]


---

<Layout title="Al-Qolam"  theme="emerald" favicon="./alqolam.webp" 
analitis='{"token": "5503670bb70548b8894a6093ae2ab107"}' size="400% 400%" background="linear-gradient(45deg, #c9e258 20%, #f6eeee 72%)">
	<main>
		<Nav 
		src="https://d1fdloi71mui9q.cloudfront.net/fjZlMj4yQyyWuGyjQhXb_0QlEHPrsyjMfl1i8"
		title= 'Al-Qolam'
        text= 'Kumpulan link Bermanfaat Al-Qolam'
        url= 'https://kartu.sarbeh.com'
		/>
		<Hero
		name= "@AlQolam.web" 
		src = "https://d1fdloi71mui9q.cloudfront.net/fjZlMj4yQyyWuGyjQhXb_0QlEHPrsyjMfl1i8"
		tagline= "Muda • Beda • Berguna"
		
		/>
		<Socialicon Medsos={Medsos} />
			<Spoti />
			<Button linkClient={linkClient}/>
			<Credit />
	</main>
</Layout>

<style>
	main {
		text-align: left;
		margin: auto;
		padding: 1.5rem;
        padding-bottom: 0;
		max-width: 90ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
