---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import Catalog from '../components/Catalog.astro';
import Collapse from '../components/Collapse.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Credit from '../components/Credit.astro';
import Socialicon from '../components/Socialicon.astro';

const linkClient = [
    {
        nama: 'Dapatkan Harga Khusus Lebaran!',
        link: 'wa.me/62819818001?text=Bismillah%2C%20saya%20mau%20dapatkan%20harga%20khusus%20lebaran%20di%20Prince'
    },{
        nama: 'Beri kejutan istimewa keluarga sekarang!',
        link: 'wa.me/62819818001?text=Bismillah%2C%20saya%20mau%20pesan%20parcel%20kado%20istimewa%20untuk%20keluarga'
    },{
        nama: 'Pesan lewat WA',
        link: 'wa.me/62819818001?text=List%20order%0ANama%20%3A%0ABarang%20yang%20dipesan%20%3A%0AUkuran%20%3A%0AAlamat%20%3A%0ANo.%20Hp%20aktif%20%3A'
    },
    {
        nama: 'Pesan lewat Instagram',
        link: 'ig.me/m/princemoslemfashion'
    },{
        nama: 'Pesan lewat Tokopedia',
        link: 'tokopedia.com/princeofficial'
    },{
        nama: 'Mau grosir dan bermitra, langsung cek!',
        link: 'wa.me/62819818001?text=Bismillah%2C%20kami%20ingin%20bermitra%20bersama%20anda%20mohon%20bantuannya'
    },{
        nama: 'Buat seragam cepat dan tepat, free konsultasi',
        link: 'wa.me/62819818001?text=Bismillah%2C%20kami%20ingin%20bikin%20seragam%20mohon%20bantuannya'
    },
    
]

const dataClient = [
    {
       images : "/stock-1.webp",
       alt : "contoh",
       title: "Ini Gambar",
       desc : "ini deskripsi",
       CTA : "Tombol CTA"
    },
    {
       images : "/stock-2.webp",
       alt : "contoh",
       title: "Ini Gambar",
       desc : "ini deskripsi",
       CTA : "Tombol CTA"
    },
    {
       images : "/stock-3.webp",
       alt : "contoh",
       title: "Ini Gambar",
       desc : "ini deskripsi",
       CTA : "Tombol CTA"
    },
    {
       images : "/stock-4.webp",
       alt : "contoh",
       title: "Ini Gambar",
       desc : "ini deskripsi",
       CTA : "Tombol CTA"
    },
]
const ytClient = [
    {
        id :"kq5dIytVs6c"
    },
    {
        id: "yDgM10mG-2k"
    }
]

constÂ MedsosÂ =Â [ 
 Â Â Â Â { 
 Â Â Â Â Â Â Â Â idÂ :"ic:outline-facebook", 
 Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â url:"https://www.facebook.com/profile.php?id=100083288589869&mibextid=ZbWKwL" 
 Â Â Â Â }, 
 Â Â Â Â { 
 Â Â Â Â Â Â Â Â id:Â "mdi:instagram", 
 Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â url:"https://instagram.com/princemoslemfashion" 
  
 Â Â Â Â }, 
 Â Â Â Â { 
 Â Â Â Â Â Â Â Â id:Â "ic:baseline-whatsapp", 
 Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â url:"https://wa.me/c/6289504858948" 
  
 Â Â Â Â }, 
 Â Â Â Â Â Â Â Â { 
         id: "mdi:shopping-search", 
 Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â url:"https://www.tokopedia.com/princeofficial" 
  
 Â Â Â Â }, 
 ]
---

<Layout background="url('/prince.svg')" size="cover" title="Prince Fashion" favicon="/prince.jpg" theme="light">
	<main>
		<Nav 
        src="/prince.jpg"
		title= 'PRINCE | Moslem Fashion'
        text= 'ð‰ðšðð¢ð¥ðšð¡ ððšð§ð ðžð«ðšð§ ðð¢ ð¬ðžð­ð¢ðšð© ð¦ð¨ð¦ðžð§ ðšð§ððš'
        url= 'https://qlm.one/prince'
        />
		<Hero 
        name= "PRINCE Moslem Fashion" 
		src = "/prince.jpg"
		tagline= "ð‰ðšðð¢ð¥ðšð¡ ððšð§ð ðžð«ðšð§ ðð¢ ð¬ðžð­ð¢ðšð© ð¦ð¨ð¦ðžð§ ðšð§ððš"
        />
<Socialicon Medsos={Medsos} />
			<Button linkClient={linkClient}/>
			
<Credit />
	</main>
</Layout>

<style>
	main {
		text-align: left;
		margin: auto;
		padding: 1.5rem;
        padding-bottom: 0;
		max-width: 90ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
