---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import Catalog from '../components/Catalog.astro';
import Collapse from '../components/Collapse.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Credit from '../components/Credit.astro';

const linkClient = [
    {
        nama: 'Website',
        link: 'sarbeh.com/'
    },{
        nama: 'Portofolio',
        link: 'sarbeh.com/work/'
    },{
        nama: 'Blog',
        link: 'sarbeh.com/blog/'
    },
    {
        nama: 'Free Assets',
        link: 't.me/alqolam_web'
    },
    
]

const dataClient = [
    {
       images : "https://assets.tina.io/d614aee4-9b02-4c95-9fc4-7b542014dd95/ramen.webp",
       alt : "ramen",
       title: "Asik Belajar Midjourney",
       desc : "Kali ini kita bakal ngobrolin soal Midjourney dari basic-basic",
       link : "https://sarbeh.com/blog/cara-asik-belajar-midjourney",
	   CTA : "Read"
    },
    {
       images : "https://assets.tina.io/d614aee4-9b02-4c95-9fc4-7b542014dd95/laptop.webp",
       alt : "laptop",
       title: "Gambaran Sheet UMKM",
       desc : "Apa aja sih yang dibutuhin untuk mbuat catatan keuangan UMKM ? cek disini",
       link : "https://sarbeh.com/blog/abstraksi-sheet-umkm",
	   CTA : "Read"
    },
    {
       images : "https://sarbeh.com/assets/robot.webp",
       alt : "robot",
       title: "Panduan Cerdas Chat GPT",
       desc : "Langkah awal sebelum menggunakan Chat GPT",
       link : "https://sarbeh.com/blog/panduan-cerdas-menggunakan-chatgpt",
	   CTA : "Read"
    },
    {
       images : "https://assets.tina.io/d614aee4-9b02-4c95-9fc4-7b542014dd95/photo-1663630487123-b27d445e8838.webp",
       alt : "gambar kertas warna warni",
       title: "Projek dan Klien",
       desc : "Belajar terus Belajar",
       link : "https://sarbeh.com/blog/projek-dan-klien",
	   CTA : "Read"
    },
]
const bisnisClient = [
    {
       images : "/emot.webp",
       alt : "midjourney logo",
       title: "Midjourney Sharing Account",
       desc : "Kali ini kita bakal ngobrolin soal Midjourney dari basic-basic",
       link : "https://api.whatsapp.com/send/?phone=6285156552604&text=Assalamualaikum,+saya+ingin+tertarik+dengan+Sharing+Akun+Midjourney",
	   CTA : "ðŸ›’ Buy"
    },
    {
       images : "/gpt.webp",
       alt : "GPT4",
       title: "ChatGPT Sharing Account",
       desc : "Apa aja sih yang dibutuhin untuk mbuat catatan keuangan UMKM ? cek disini",
       link : "https://api.whatsapp.com/send/?phone=6285156552604&text=Assalamualaikum,+saya+ingin+tertarik+dengan+Sharing+Akun+ChatGPT",
	   CTA : "ðŸ›’ Buy"
    },
    {
       images : "stock-3.webp",
       alt : "contoh",
       title: "Develop Website",
       desc : "Langkah awal sebelum menggunakan Chat GPT",
       link : "https://api.whatsapp.com/send/?phone=6285156552604&text=Assalamualaikum,+saya+ingin+kerja+sama+untuk+membuat+projek+web",
	   CTA : "ðŸ›’ Buy"
    },
    {
       images : "/stock-2.webp",
       alt : "gambar kertas warna warni",
       title: "Optimasi SEO",
       desc : "Belajar terus Belajar",
       link : "https://api.whatsapp.com/send/?phone=6285156552604&text=Assalamualaikum,+saya+ingin+kerja+sama+untuk+Optimasi+SEO",
	   CTA : "ðŸ›’ Buy"
    },
	{
       images : "/stock-1.webp",
       alt : "gambar kertas warna warni",
       title: "Konsultasi Tool Digital",
       desc : "Belajar terus Belajar",
       link : "https://api.whatsapp.com/send/?phone=6285156552604&text=Assalamualaikum,+saya+ingin+konsultasi+alat alat+digital",
	   CTA : "ðŸ›’ Buy"

    },
]
---

<Layout title="Sarbeh" theme="luxury" favicon="/sarbeh.webp" background="black">
	<main>
		<Nav 
        src="/sarbeh.webp"
		title= 'Sarbeh'
        text= 'I am a Passionate Developer who is currently based in Sukoharjo, Indonesia.'
        url= 'https://qlm.one/sarbeh'
        />
		<Hero 
        name= "Sarbeh" 
		src = "/sarbeh.webp"
		tagline= "I am a Passionate Developer who is currently based in Sukoharjo, Indonesia."
        />
			<Button linkClient={linkClient} />
			<Catalog Judul="Bisnisku" Emoj="â˜Žï¸" dataClient={bisnisClient}/>
			<Catalog Judul="Kitabatii" Emoj="ðŸ“š" dataClient={dataClient}/>

            <Credit />
	</main>
</Layout>

<style>
	main {
		text-align: left;
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
