---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import Catalog from '../components/Catalog.astro';
import Collapse from '../components/Collapse.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Credit from '../components/Credit.astro';
import Map from '../components/Map.astro';
import Socialicon from '../components/Socialicon.astro';
import CTA from '../components/CTA.astro';

const linkClient = [
    {
        nama: 'Website',
        link: 'sunatnyaman.com/'
    },{
        nama: 'Reservasi Sunat',
        link: 'api.whatsapp.com/send/?phone=6282140536672&text=Assalamualaikum,+saya+ingin+konsultasi+khitan'
    },{
        nama: 'Blog',
        link: 'sunatnyaman.com/blog'
    },
    
    
]

const bisnisClient = [
{
       images : "/2.webp",
       alt : "laptop",
       title: "Sunat Tanpa Jarum Suntik",
       desc : "Apa aja sih yang dibutuhin untuk mbuat catatan keuangan UMKM ? cek disini",
       link : "https://sarbeh.com/blog/abstraksi-sheet-umkm",
	   CTA : "Konsultasi"
    },
    {
       images : "/1.webp",
       alt : "Metode Super Ring",
       title: "Metode Super Ring",
       desc : "Kali ini kita bakal ngobrolin soal Midjourney dari basic-basic",
       link : "https://sarbeh.com/blog/cara-asik-belajar-midjourney",
	   CTA : "Konsultasi"
    },
    
    {
       images : "3.webp",
       alt : "robot",
       title: "Metode Laser",
       desc : "Langkah awal sebelum menggunakan Chat GPT",
       link : "https://sarbeh.com/blog/panduan-cerdas-menggunakan-chatgpt",
	   CTA : "Konsultasi"
    },
    {
       images : "4.webp",
       alt : "Metode Tekno Sealer",
       title: "Metode Tekno Sealer",
       desc : "Belajar terus Belajar",
       link : "https://sarbeh.com/blog/projek-dan-klien",
	   CTA : "Konsultasi"
    },
]
const dataClient = [
    {
       images : "https://www.sunatnyaman.com/assets/03.8304cc18_ZmeNme.avif",
       alt : "Jagoan Sunat",
       title: "Jagoan Sunat",
       desc : "Kali ini kita bakal ngobrolin soal Midjourney dari basic-basic",
       link : "https://www.google.com/maps/place/Sunat+Khitan+Modern+Solo/@-7.6306187,110.5052767,11z/data=!4m8!3m7!1s0x2e7a1452c0d89147:0x90f3b1b75b853c76!8m2!3d-7.5697311!4d110.7701403!9m1!1b1!16s%2Fg%2F11fnq3y4tx",
	   CTA : "Review Google"
    },
    {
       images : "https://www.sunatnyaman.com/assets/02.156d548f_Z1S7tGe.avif",
       alt : "Jagoan Sunat",
       title: "Jagoan Sunat",
       desc : "Apa aja sih yang dibutuhin untuk mbuat catatan keuangan UMKM ? cek disini",
       link : "https://www.google.com/maps/place/Sunat+Khitan+Modern+Solo/@-7.6306187,110.5052767,11z/data=!4m8!3m7!1s0x2e7a1452c0d89147:0x90f3b1b75b853c76!8m2!3d-7.5697311!4d110.7701403!9m1!1b1!16s%2Fg%2F11fnq3y4tx",
	   CTA : "Review Google"
    },
    {
       images : "https://www.sunatnyaman.com/assets/01.93d69a55_We7h3.avif",
       alt : "Jagoan Sunat",
       title: "Jagoan Sunat",
       desc : "Langkah awal sebelum menggunakan Chat GPT",
       link : "https://www.google.com/maps/place/Sunat+Khitan+Modern+Solo/@-7.6306187,110.5052767,11z/data=!4m8!3m7!1s0x2e7a1452c0d89147:0x90f3b1b75b853c76!8m2!3d-7.5697311!4d110.7701403!9m1!1b1!16s%2Fg%2F11fnq3y4tx",
	   CTA : "Review Google"
    },
    {
       images : "https://www.sunatnyaman.com/assets/Sunat%20Tanpa%20Jarum%20Suntik%20Jagoan.f5110d29_1r6NcM.jpg",
       alt : "Jagoan Sunat",
       title: "Jagoan Sunat",
       desc : "Belajar terus Belajar",
       link : "https://www.google.com/maps/place/Sunat+Khitan+Modern+Solo/@-7.6306187,110.5052767,11z/data=!4m8!3m7!1s0x2e7a1452c0d89147:0x90f3b1b75b853c76!8m2!3d-7.5697311!4d110.7701403!9m1!1b1!16s%2Fg%2F11fnq3y4tx",
	   CTA : "Review Google"
    },
	{
       images : "https://www.sunatnyaman.com/assets/Jagoan%20Sunat.aa5b79c5_Z2i2EvS.png",
       alt : "Jagoan Sunat",
       title: "Jagoan Sunat",
       desc : "Belajar terus Belajar",
       link : "https://www.google.com/maps/place/Sunat+Khitan+Modern+Solo/@-7.6306187,110.5052767,11z/data=!4m8!3m7!1s0x2e7a1452c0d89147:0x90f3b1b75b853c76!8m2!3d-7.5697311!4d110.7701403!9m1!1b1!16s%2Fg%2F11fnq3y4tx",
	   CTA : "Review Google"

    },
]



const Medsos = [
    {
        id: "mdi:instagram",
		url:"https://www.instagram.com/insaniorg/"

    },
    {
        id: "ic:baseline-whatsapp",
		url:"https://api.whatsapp.com/send?phone=6285155167624"

    }, {
        id: "ic:outline-facebook",
		url:"https://web.facebook.com/nurulhudaku"

    },
	{
        id: "mdi:map-marker",
		url:"https://www.google.com/maps/dir//Sunat+Khitan+Modern+Solo,+Jl.+Hamzah+2+No.12,+Dusun+III,+Gumpang,+Kec.+Kartasura,+Kabupaten+Sukoharjo,+Jawa+Tengah+57161/@-7.6306187,110.5052767,11z/data=!4m9!4m8!1m0!1m5!1m1!1s0x2e7a1452c0d89147:0x90f3b1b75b853c76!2m2!1d110.7701705!2d-7.5697364!3e0"

    },]
---


<Layout  pixel="608657684638651" title="Sunat Khitan Modern Solo" theme="forest" favicon="/sunat1.webp" size="400% 400%" background="linear-gradient(45deg, black 20%, #84cc16 72%)">
	<main>
		<Nav 
        src="/sunat1.webp"
		title= 'Sunat Khitan Modern Solo'
        text= 'I am a Passionate Developer who is currently based in Sukoharjo, Indonesia.'
        url= 'https://qlm.one/sunatsolo'
        />
		<Hero 
        name= "Sunat Khitan Modern Solo" 
		src = "/sunat1.webp"
		tagline= "Rumah sunat Solo |  Sunat Nyaman, Anak Ceria "
        />
        <Socialicon Medsos={Medsos}/>
<CTA />
			<Button linkClient={linkClient} />
			<Catalog Judul="Metode Sunat" Emoj="â˜Žï¸" dataClient={bisnisClient}/>
			<Catalog Judul="Pasien Puas" Emoj="ðŸ˜„ðŸ˜„" dataClient={dataClient}/>
            <Map />

            <Credit />
	</main>
</Layout>

<style>
	main {
		text-align: left;
		margin: auto;
		padding: 1.5rem;
		max-width: 90ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
