---
const dataClient = [
    {
        nama: 'Join Grup WA Ikhwan (Laki-laki)',
        link: 'chat.whatsapp.com/C0bhUXYKWWi3qsndn3wTqE'
    },{
        nama: 'Join Grup WA Akhwat (Perempuan)',
        link: 'chat.whatsapp.com/Fn5VenOYySWJq7yDnzTQry'
    },{
        nama: 'Channel Telegram',
        link: 't.me/alqolam_web'
    },
    {
        nama: 'Download Poster',
        link: 't.me/alqolam_web'
    },{
        nama: 'Download Wallpaper Nasehat',
        link: 'drive.google.com/drive/folders/1GIahVK_0HOOT3438iK01c35-EjXD9Dyp'
    },
    {
        nama: 'Sticker WhatsApp',
        link: 'sticker.ly/user/alqolam.web'
    },
    
]
---
<div class="flex flex-col gap-4 mt-5">
    {
        dataClient.map(({nama,link})=>
        <a href={`https://www.${link}`} class="btn btn-block hover:scale-110">{nama}</a>

        )
    }
</div>
