---
const dataClient = [
    {
        nama: 'Website',
        link: 'sarbeh.com/'
    },{
        nama: 'Portofolio',
        link: 'sarbeh.com/work/'
    },{
        nama: 'Blog',
        link: 'sarbeh.com/blog/'
    },
    {
        nama: 'Free Assets',
        link: 't.me/alqolam_web'
    },
    
]
---
<div class="flex flex-col gap-4 mt-5">
    {
        dataClient.map(({nama,link})=>
        <a href={`https://www.${link}`} class="btn btn-block hover:scale-110">{nama}</a>

        )
    }
</div>
