---

export interface Props {
  linkClient : Array<{nama:string, link:string}>,
}


const {linkClient } = Astro.props;



---
<div class="flex flex-col gap-4 mt-5">
    {
        linkClient.map(({nama,link})=>
        <a rel="dns-prefetch" href={`https://${link}`} aria-label={nama} class="btn btn-block hover:scale-110 hover:btn-secondary">{nama}</a>

        )
    }
</div>
