---

---

<div class="flex flex-col text-center glass bg-primary rounded-md py-5 items-center justify-center mt-4">
    <div class="text-2xl mb-4">
      Qlm.one dibuat dengan ❤️ oleh
    </div>
    <div class="flex items-center space-x-4">
      <div class="bg-neutral-focus text-neutral-content rounded-full w-12 h-12">
        <a href="https://www.qlm.one/Sarbeh">
          <img src="https://sarbeh.com/assets/icon.webp" alt="ibrahim NH" class="rounded-full" />
        </a>
      </div>
      <div class="bg-neutral-focus text-neutral-content rounded-full w-12 h-12">
        <a href="https://www.qlm.one">
          <img src="https://d1fdloi71mui9q.cloudfront.net/fjZlMj4yQyyWuGyjQhXb_0QlEHPrsyjMfl1i8" alt="AlQolam" class="rounded-full" />
        </a>
      </div>
      <div class="bg-neutral-focus text-neutral-content rounded-full w-12 h-12">
        <a href="https://www.sunatnyaman.com">
          <img src="https://www.sunatnyaman.com/favicon.ico" alt="Sunat Khitan Modern Solo" class="rounded-full" />
        </a>
      </div>
    </div>
  </div>

  