---

---

<div class="flex flex-col md:flex-row w-full md:w-7/12 mx-auto w-fit gap-2 text-center glass rounded-md py-2 items-center justify-center mt-4">
    <div class="text-sm md:text-md font-bold">
      Qlm.one: ❤️-crafted Innovation by
    </div>
    <div class="flex items-center space-x-4">
      <div class="bg-neutral-focus text-neutral-content rounded-full w-8 h-8">
        <a href="https://www.qlm.one/Sarbeh">
          <img src="https://sarbeh.com/assets/icon.webp" alt="ibrahim NH" class="rounded-full" />
        </a>
      </div>
      <div class="bg-neutral-focus text-neutral-content rounded-full w-8 h-8">
        <a href="https://www.qlm.one">
          <img src="https://d1fdloi71mui9q.cloudfront.net/fjZlMj4yQyyWuGyjQhXb_0QlEHPrsyjMfl1i8" alt="AlQolam" class="rounded-full" />
        </a>
      </div>
      <div class="bg-neutral-focus text-neutral-content rounded-full w-8 h-8">
        <a href="https://www.sunatnyaman.com">
          <img src="https://www.sunatnyaman.com/favicon.ico" alt="Sunat Khitan Modern Solo" class="rounded-full" />
        </a>
      </div>
    </div>
  </div>

  