---
import { Icon } from 'astro-icon'

---

<div class="cta-container text-center my-6">
	<h2 class="text-lg font-semibold mb-3">Reservasi Sunat Anak Sekarang <br> Jadikan Pengalaman Sunat Nyaman untuk Buah Hati Anda!</h2>
	<a href="https://www.api.whatsapp.com/send/?phone=6282140536672&text=Assalamualaikum,+saya+ingin+konsultasi+khitan" class="btn btn-primary text-white font-bold py-2 px-6 rounded-lg transition-all hover:bg-blue-600">Reservasi Segera</a>
  </div>
