---

---

<footer class="footer items-center p-4 bg-neutral text-neutral-content">
    <div class="items-center grid-flow-col">
		<p class="text-4 mt-4 text-center">Credit By <a rel="dns-prefetch" class="font-600 text-gradient" href="https://sarbeh.com">Ibrahim Nurul Huda</a></p>

    </div> 
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a rel="dns-prefetch" href="https://www.nihbuatjajan.com/sarbeh" class="mx-auto" target="_blank"><img src="https://d4xyvrfd64gfm.cloudfront.net/buttons/default-cta.png" alt="Nih buat jajan" style="height: 51px !important;" ></a>

    </div>
  </footer>