---
export interface Props {
	name: string;
	src : string;
  tagline: string;
}

const { name, src, tagline} = Astro.props;

---
<div class="mx-auto w-fit text-center mt-12">
    <div class="avatar">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src={src} alt={name}/>
        </div>
      </div>
      <h1 class="text-3xl text-lime-focus font-bold">{name}</h1>
      <h1 class="text-md text-lime-focus font-bold">{tagline}</h1>
</div>