---

---
<div class="mx-auto w-fit text-center mt-12">
    <div class="avatar">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src="https://d1fdloi71mui9q.cloudfront.net/fjZlMj4yQyyWuGyjQhXb_0QlEHPrsyjMfl1i8" />
        </div>
      </div>
      <h1 class="text-3xl text-lime-focus font-bold">@AlQolam.web</h1>
</div>