---
export interface Props {
    map: string;
    title: string;
    h3:string;
}
import { Icon } from 'astro-icon'


const {map,title,h3 } = Astro.props;
---
<h3 class="card-title block text-2xl text-center mb-2 mt-5 font-bold">
	{h3}	  </h3>
<div class="card w-full shadow-2xl bg-base-100 p-3 relative">
	
<a rel="dns-prefetch" href={map} class="btn btn-primary text-white  absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10" id="unduhKartuNama">                            <Icon name="mdi:map-marker" class="w-8" />    Kunjungi Kami di Sini!</a>
    
    <iframe class="rounded-md outline outline-offset-2 outline-4 z-0" title={title} src={map}  class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-45 h-24" >
    </iframe>
</div>



  
