---

---
<h1 class="card-title block text-2xl text-center mb-2 font-bold">
	Jadikan Pengalaman Sunat Nyaman untuk Buah Hati Anda!	  </h1>
<div class="card w-full shadow-2xl bg-base-100 p-6 relative">
	
<a href="https://www.google.com/maps/dir//Sunat+Khitan+Modern+Solo,+Jl.+Hamzah+2+No.12,+Dusun+III,+Gumpang,+Kec.+Kartasura,+Kabupaten+Sukoharjo,+Jawa+Tengah+57161/@-7.6306187,110.5052767,11z/data=!4m9!4m8!1m0!1m5!1m1!1s0x2e7a1452c0d89147:0x90f3b1b75b853c76!2m2!1d110.7701705!2d-7.5697364!3e0" class="btn btn-warning  absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10" id="unduhKartuNama">Kunjungi Kami di Sini!</a>
    
    <iframe class="rounded-md outline outline-offset-2 outline-4 z-0" title="Map Sunat Khitan Modern SOLO Sunat Nyaman" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15820.192554312798!2d110.7701403!3d-7.5697311!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x90f3b1b75b853c76!2sSunat%20Khitan%20Modern%20Solo!5e0!3m2!1sen!2sid!4v1669182547617!5m2!1sen!2sid"  class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-45 h-24" >
    </iframe>
</div>

  
