---
import { Icon } from 'astro-icon'


export interface Props {
  Medsos : Array<{id:string, url:string}>,
}


const {Medsos } = Astro.props;
---
<div class="flex gap-2 mx-auto w-fit my-5">
{
    Medsos.map(({id, url})=>
    <a rel="dns-prefetch" aria-label={id}
								class="btn btn-circle "
								href={url}
								target="_blank"
								rel="noopener"
							>
                            <Icon name={id} class="w-8" />
							</a>
    )
}</div>



