---
---
	
<div id="embed-iframe"></div>

<article class="group flex flex-col space-y-4 p-4">
 

  <button class="episode bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center w-full transition group-hover:grayscale-[50%]" data-spotify-id="spotify:episode:4oIiRoa5o9SzjGMyC8m4rs">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 8.257V19.743L20 14v0z"></path>
    </svg>
    Murottal - Surah AlBaqarah 124-126
  </button>
  <button class="episode bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center w-full transition group-hover:grayscale-[50%]" data-spotify-id="spotify:episode:6DgtFS5H9x6xgbSaESry0W">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 8.257V19.743L20 14v0z"></path>
    </svg>
    Murottal - Surah AlBaqarah 258-260
  </button>
  <button class="episode bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex items-center w-full transition group-hover:grayscale-[50%]" data-spotify-id="spotify:episode:4U8nIgsI3Qa0BMASc4qByt">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 8.257V19.743L20 14v0z"></path>
    </svg>
    Murottal - Surah Ibrahim 35-41
  </button>
  <div class="p-4 text-center">
    <a href="https://open.spotify.com/show/65eXom03ypfjB5OPPnJjuk?si=33e1999be2674506&nd=1">
      <h3 class="text-lg font-extrabold text-gray-900">
          AlQolam Official
      </h3>
    </a>

    <p class="mt-2 line-clamp-3 text-sm/relaxed font-bold text-gray-500">
      AlQolam adalah media sharing keilmuan Islam. Kami hadir sebagai fasilitator bagi anak muda dan masyarakat pada umumnya agar bisa mengakses keilmuan Islam yang ilmiah.
    </p>
  </div>
</article>
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<script type="text/javascript">
window.onSpotifyIframeApiReady = (IFrameAPI) => {
  const element = document.getElementById('embed-iframe');
  const options = {
    width: '100%',
    height: '352px',
    uri: 'spotify:episode:6DgtFS5H9x6xgbSaESry0W',
  };
  const callback = (EmbedController) => {
    let activeEpisode;
    document.querySelectorAll('.episode').forEach((episode) => {
      episode.addEventListener('click', () => {
        if (activeEpisode) {
          activeEpisode.classList.remove('bg-blue-700');
          activeEpisode.classList.add('bg-blue-500');
        }
        episode.classList.remove('bg-blue-500');
        episode.classList.add('bg-blue-700');
        activeEpisode = episode;
        EmbedController.loadUri(episode.dataset.spotifyId);
      });
    });
  };
  IFrameAPI.createController(element, options, callback);
};
</script>


