---
export interface Props {
	title: string;
	favicon: string;
	theme: string;
	background: string;
}

const { title, favicon, theme, background} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
				<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9784476dde3c4526b1ceba22b7316da7"}'></script><!-- End Cloudflare Web Analytics -->
	</head>
	<body>
		<slot />

	</body>
</html>
<style is:global define:vars={{ background}}>
	:root {
		background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;background-position: center;
	}
	html {
		font-family: system-ui, sans-serif;
		
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	
</style>
